.base-theme {
          --spacing-base-unit: 8px;
  --spacing-base-xs: 8px;
  --spacing-base-sm: 16px;
  --spacing-base-md: 24px;
  --spacing-base-lg: 32px;
  --spacing-base-xl: 40px;
  --spacing-base-xxl: 48px;
  --spacing-base-none: 0px;
  --color-dark-64: #5c5c5c;
  --color-dark-68: #525252;
  --color-dark-72: #474747;
  --color-dark-76: #3d3d3d;
  --color-dark-80: #333333;
  --color-dark-84: #292929;
  --color-dark-88: #1f1f1f;
  --color-dark-92: #141414;
  --color-dark-96: #0a0a0a;
  --color-dark-100: #000000;
  --color-light-64: #a3a3a3;
  --color-light-68: #adadad;
  --color-light-72: #b8b8b8;
  --color-light-76: #c2c2c2;
  --color-light-80: #cccccc;
  --color-light-84: #d6d6d6;
  --color-light-88: #e0e0e0;
  --color-light-92: #ebebeb;
  --color-light-96: #f5f5f5;
  --color-light-100: #ffffff;
  --color-dark-blue-10: #cccfd1;
  --color-dark-blue-20: #adb2b6;
  --color-dark-blue-30: #8f959a;
  --color-dark-blue-40: #70787f;
  --color-dark-blue-50: #525b63;
  --color-dark-blue-60: #333E48;
  --color-dark-blue-70: #2b353d;
  --color-dark-blue-80: #242b32;
  --color-dark-blue-90: #1c2228;
  --color-dark-blue-100: #14191d;
  --color-teal-10: #d8e7e9;
  --color-teal-20: #c0d9db;
  --color-teal-30: #a9cbce;
  --color-teal-40: #91bdc0;
  --color-teal-50: #7aaeb3;
  --color-teal-60: #62a0a5;
  --color-teal-70: #53888c;
  --color-teal-80: #457073;
  --color-teal-90: #36585b;
  --color-teal-100: #274042;
  --color-orange-10: #fed6ca;
  --color-orange-20: #fdbeaa;
  --color-orange-30: #fca58a;
  --color-orange-40: #fb8d6b;
  --color-orange-50: #fa744b;
  --color-orange-60: #F95C2B;
  --color-orange-70: #d44e25;
  --color-orange-80: #ae401e;
  --color-orange-90: #893318;
  --color-orange-100: #642511;
  --color-blue-10: #c4d0f3;
  --color-blue-20: #a1b3eb;
  --color-blue-30: #7d97e4;
  --color-blue-40: #5a7adc;
  --color-blue-50: #365ed5;
  --color-blue-60: #1341cd;
  --color-blue-70: #1037ae;
  --color-blue-80: #0d2e90;
  --color-blue-90: #0a2471;
  --color-blue-100: #081a52;
  --color-red-10: #f1c4c4;
  --color-red-20: #e9a0a0;
  --color-red-30: #e07d7d;
  --color-red-40: #d85959;
  --color-red-50: #cf3636;
  --color-red-60: #c71212;
  --color-red-70: #a90f0f;
  --color-red-80: #8b0d0d;
  --color-red-90: #6d0a0a;
  --color-red-100: #500707;
  --color-green-10: #c3e6cb;
  --color-green-20: #9fd6ab;
  --color-green-30: #7bc78c;
  --color-green-40: #57b86d;
  --color-green-50: #33a84d;
  --color-green-60: #0f992e;
  --color-green-70: #0d8227;
  --color-green-80: #0b6b20;
  --color-green-90: #085419;
  --color-green-100: #063d12;
  --color-navy-10: #c2d0dc;
  --color-navy-20: #9db3c7;
  --color-navy-30: #7897b2;
  --color-navy-40: #547a9d;
  --color-navy-50: #2f5e88;
  --color-navy-60: #0a4173;
  --color-navy-70: #093762;
  --color-navy-80: #072e51;
  --color-navy-90: #06243f;
  --color-navy-100: #041a2e;
  --color-pink-10: #e0c2dd;
  --color-pink-20: #ce9dc9;
  --color-pink-30: #bb78b4;
  --color-pink-40: #a953a0;
  --color-pink-50: #962e8b;
  --color-pink-60: #840977;
  --color-pink-70: #700865;
  --color-pink-80: #5c0653;
  --color-pink-90: #490541;
  --color-pink-100: #350430;
  --color-neutral-30: #4d4d4d;
  --color-neutral-40: #666666;
  --color-neutral-50: #808080;
  --color-neutral-60: #999999;
  --color-neutral-70: #b3b3b3;
  --color-neutral-80: #cccccc;
  --font-families-sans-serif: Inter;
  --font-families-serif: Baskerville;
  --font-families-mono: Consolas;
  --font-sizes-display-xs: 0.875rem;
  --font-sizes-display-sm: 1rem;
  --font-sizes-display-md: 1.125rem;
  --font-sizes-display-lg: 1.5rem;
  --font-sizes-display-xl: 2rem;
  --font-sizes-display-xxl: 3rem;
  --font-sizes-label-xs: 0.75rem;
  --font-sizes-label-sm: 0.8125rem;
  --font-sizes-label-md: 0.875rem;
  --font-sizes-label-lg: 1rem;
  --font-sizes-label-xl: 1.0625rem;
  --font-sizes-label-xxl: 1.125rem;
  --font-sizes-body-sm: 0.875rem;
  --font-sizes-body-md: 1rem;
  --font-sizes-body-lg: 1.125rem;
  --font-weights-thin: 300;
  --font-weights-regular: 400;
  --font-weights-medium: 500;
  --font-weights-bold: 600;
      }