.base-theme {
          --base-unit: 8px;
  --base-xs: 8px;
  --base-sm: 16px;
  --base-md: 24px;
  --base-lg: 32px;
  --base-xl: 40px;
  --base-xxl: 48px;
  --base-none: 0px;
  --dark-64: #5c5c5c;
  --dark-68: #525252;
  --dark-72: #474747;
  --dark-76: #3d3d3d;
  --dark-80: #333333;
  --dark-84: #292929;
  --dark-88: #1f1f1f;
  --dark-92: #141414;
  --dark-96: #0a0a0a;
  --dark-100: #000000;
  --light-64: #a3a3a3;
  --light-68: #adadad;
  --light-72: #b8b8b8;
  --light-76: #c2c2c2;
  --light-80: #cccccc;
  --light-84: #d6d6d6;
  --light-88: #e0e0e0;
  --light-92: #ebebeb;
  --light-96: #f5f5f5;
  --light-100: #ffffff;
  --dark-blue-10: #cccfd1;
  --dark-blue-20: #adb2b6;
  --dark-blue-30: #8f959a;
  --dark-blue-40: #70787f;
  --dark-blue-50: #525b63;
  --dark-blue-60: #333E48;
  --dark-blue-70: #2b353d;
  --dark-blue-80: #242b32;
  --dark-blue-90: #1c2228;
  --dark-blue-100: #14191d;
  --teal-10: #d8e7e9;
  --teal-20: #c0d9db;
  --teal-30: #a9cbce;
  --teal-40: #91bdc0;
  --teal-50: #7aaeb3;
  --teal-60: #62a0a5;
  --teal-70: #53888c;
  --teal-80: #457073;
  --teal-90: #36585b;
  --teal-100: #274042;
  --orange-10: #fed6ca;
  --orange-20: #fdbeaa;
  --orange-30: #fca58a;
  --orange-40: #fb8d6b;
  --orange-50: #fa744b;
  --orange-60: #F95C2B;
  --orange-70: #d44e25;
  --orange-80: #ae401e;
  --orange-90: #893318;
  --orange-100: #642511;
  --blue-10: #c4d0f3;
  --blue-20: #a1b3eb;
  --blue-30: #7d97e4;
  --blue-40: #5a7adc;
  --blue-50: #365ed5;
  --blue-60: #1341cd;
  --blue-70: #1037ae;
  --blue-80: #0d2e90;
  --blue-90: #0a2471;
  --blue-100: #081a52;
  --red-10: #f1c4c4;
  --red-20: #e9a0a0;
  --red-30: #e07d7d;
  --red-40: #d85959;
  --red-50: #cf3636;
  --red-60: #c71212;
  --red-70: #a90f0f;
  --red-80: #8b0d0d;
  --red-90: #6d0a0a;
  --red-100: #500707;
  --green-10: #c3e6cb;
  --green-20: #9fd6ab;
  --green-30: #7bc78c;
  --green-40: #57b86d;
  --green-50: #33a84d;
  --green-60: #0f992e;
  --green-70: #0d8227;
  --green-80: #0b6b20;
  --green-90: #085419;
  --green-100: #063d12;
  --navy-10: #c2d0dc;
  --navy-20: #9db3c7;
  --navy-30: #7897b2;
  --navy-40: #547a9d;
  --navy-50: #2f5e88;
  --navy-60: #0a4173;
  --navy-70: #093762;
  --navy-80: #072e51;
  --navy-90: #06243f;
  --navy-100: #041a2e;
  --pink-10: #e0c2dd;
  --pink-20: #ce9dc9;
  --pink-30: #bb78b4;
  --pink-40: #a953a0;
  --pink-50: #962e8b;
  --pink-60: #840977;
  --pink-70: #700865;
  --pink-80: #5c0653;
  --pink-90: #490541;
  --pink-100: #350430;
  --neutral-30: #4d4d4d;
  --neutral-40: #666666;
  --neutral-50: #808080;
  --neutral-60: #999999;
  --neutral-70: #b3b3b3;
  --neutral-80: #cccccc;
  --sans-serif: Inter;
  --serif: Baskerville;
  --mono: Consolas;
  --display-xs: 0.875rem;
  --display-sm: 1rem;
  --display-md: 1.125rem;
  --display-lg: 1.5rem;
  --display-xl: 2rem;
  --display-xxl: 3rem;
  --label-xs: 0.75rem;
  --label-sm: 0.8125rem;
  --label-md: 0.875rem;
  --label-lg: 1rem;
  --label-xl: 1.0625rem;
  --label-xxl: 1.125rem;
  --body-sm: 0.875rem;
  --body-md: 1rem;
  --body-lg: 1.125rem;
  --thin: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  --radius-min: 4px;
  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-md: 24px;
  --radius-lg: 48px;
  --radius-xl: 64px;
      }