.brand-a-theme {
          --color-primary-default: #3076cc;
  --color-primary-hover: #1f57a6;
  --color-primary-disabled: #f0f0f0;
  --button-radius: 4px;
  --button-padding-left: 16px;
  --button-padding-right: 16px;
  --button-height-lg: 36px;
  --button-height-sm: 24px;
  --button-typography-lg-font-family: 'Helvetica', 'Helvetica', 'PingFang SC' , 'Hiragino Sans GB' , 'Microsoft YaHei' , '微软雅黑' , 'Arial' , 'sans-serif';
  --button-typography-lg-font-weight: 400;
  --button-typography-lg-font-size: 1rem;
  --button-typography-lg-text-case: none;
  --button-typography-lg-line-height: 1.571;
  --button-typography-sm-font-family: 'Helvetica', 'Helvetica', 'PingFang SC' , 'Hiragino Sans GB' , 'Microsoft YaHei' , '微软雅黑' , 'Arial' , 'sans-serif';
  --button-typography-sm-font-weight: 400;
  --button-typography-sm-font-size: 0.75rem;
  --button-typography-sm-text-case: none;
  --button-font-family: 'Helvetica', 'Helvetica', 'PingFang SC' , 'Hiragino Sans GB' , 'Microsoft YaHei' , '微软雅黑' , 'Arial' , 'sans-serif';
  --color-disabled-text: #3076cc;
  --color-disabled-background: #f0f0f0;
  --color-disabled-border: #d9d9d9;
  --card-header-padding-top: 16px;
  --card-width-unit: 480px;
  --card-width-sm: 960px;
  --card-height-unit: 270px;
  --card-radius: 4px;
  --card-bottom-sm: 12px;
  --card-bottom-lg: 24px;
  --card-bottom-xxl: 32px;
  --card-gap: 12px;
      }