.brand-a-theme {
          --color-background-default: #ffffff;
  --color-foreground-default: #000000;
  --color-primary-default: #0a4173;
  --color-primary-hover: #093762;
  --color-primary-disabled: #c2d0dc;
  --color-surface-default: #f5f5f5;
  --color-surface-active: #ffffff;
  --color-surface-hover: #ebebeb;
  --color-text-default: #06243f;
  --color-text-weak: #5c5c5c;
  --color-text-weaker: #a3a3a3;
  --color-text-weakest: #b8b8b8;
  --color-text-on-color: #ffffff;
  --color-secondary-default: #62a0a5;
  --color-secondary-hover: #53888c;
  --color-secondary-disabled: #d8e7e9;
  --color-tertiary-default: #5c5c5c;
  --color-tertiary-hover: #5c5c5c;
  --color-tertiary-disabled: #c2c2c2;
  --color-text-interactive-link: #1341cd;
  --color-text-interactive-link-hover: #1037ae;
  --color-text-interactive-danger: #c71212;
  --color-text-interactive-warning: #F95C2B;
  --color-text-interactive-success: #0f992e;
  --color-text-interactive-info: #365ed5;
  --color-icon-default: #5c5c5c;
  --color-icon-hover: #474747;
  --color-icon-disabled: #e0e0e0;
  --color-border-default: #d6d6d6;
  --color-border-weak: #e0e0e0;
  --color-border-weaker: #ebebeb;
  --color-border-weakest: #f5f5f5;
  --color-border-primary: #0a4173;
  --color-border-secondary: #62a0a5;
  --color-border-tertiary: #5c5c5c;
  --color-status-danger: #a90f0f;
  --color-status-danger-weak: #f1c4c4;
  --color-status-warning: #F95C2B;
  --color-status-warning-weak: #fed6ca;
  --color-status-success: #0f992e;
  --color-status-success-weak: #c3e6cb;
  --color-status-info: #1341cd;
  --color-status-info-weak: #c4d0f3;
  --border-radius-button-default: 48px;
  --spacing-button-padding-x: 16px;
  --sizing-button-height-lg: 36px;
  --sizing-button-height-sm: 24px;
  --typography-button-typography-lg: [object Object];
  --typography-button-typography-sm: [object Object];
      }