.brand-b-theme {
          --color-primary-default: #5ad8a6;
  --color-primary-hover: #1e9493;
  --color-primary-disabled: #ced4de;
  --button-height-lg: 36px;
  --button-height-sm: 24px;
  --color-disabled-text: #ffe0ed;
  --color-disabled-background: #cdf3e3;
  --color-disabled-border: #945fb9;
  --card-width-unit: 270px;
  --card-gap: 32px;
      }