.brand-b-theme {
          --color-background-default: #ffffff;
  --color-foreground-default: #000000;
  --color-primary-default: #0d8227;
  --color-primary-hover: #0b6b20;
  --color-primary-disabled: #c3e6cb;
  --color-surface-default: #f5f5f5;
  --color-surface-active: #ffffff;
  --color-surface-hover: #ebebeb;
  --color-text-default: #06243f;
  --color-text-weak: #5c5c5c;
  --color-text-weaker: #a3a3a3;
  --color-text-weakest: #b8b8b8;
  --color-text-on-color: #ffffff;
  --color-secondary-default: #0a4173;
  --color-secondary-hover: #093762;
  --color-secondary-disabled: #c2d0dc;
  --color-tertiary-default: #333E48;
  --color-tertiary-hover: #2b353d;
  --color-tertiary-disabled: #cccfd1;
  --color-text-interactive-link: #1341cd;
  --color-text-interactive-link-hover: #1037ae;
  --color-text-interactive-danger: #c71212;
  --color-text-interactive-warning: #F95C2B;
  --color-text-interactive-success: #0f992e;
  --color-text-interactive-info: #365ed5;
  --color-icon-default: #5c5c5c;
  --color-icon-hover: #474747;
  --color-icon-disabled: #e0e0e0;
  --color-border-default: #d6d6d6;
  --color-border-weak: #e0e0e0;
  --color-border-weaker: #ebebeb;
  --color-border-weakest: #f5f5f5;
  --color-status-danger: #a90f0f;
  --color-status-danger-weak: #f1c4c4;
  --color-status-warning: #F95C2B;
  --color-status-warning-weak: #fed6ca;
  --color-status-success: #0f992e;
  --color-status-success-weak: #c3e6cb;
  --color-status-info: #1341cd;
  --color-status-info-weak: #c4d0f3;
  --border-radius-button-default: 0px;
  --spacing-button-padding-x: 32px;
  --font-family-button-label-font-family: Inter;
  --font-weight-button-label-font-weight: 600;
  --line-height-button-label-line-height: ;
  --font-size-button-label-font-size: 14px;
      }