name: CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
      # Install dependencies
      - run: npm install
      # Transform Figma Tokens JSON to something Style Dictionary can read
      - run: npx token-transformer input/design-tokens.json input/base.json base
      # Create a brand theme, exclude the base tokens
      - run: npx token-transformer input/design-tokens.json input/brand-a.json base,brand-a base --expandTypography=true
      # Create a another brand theme, exclude the base tokens
      - run: npx token-transformer input/design-tokens.json input/brand-b.json base,brand-b base --expandTypography=true
      # Convert tokens according to Style Dictionary config
      - run: node build.js
      # Add files that were created during a run, e.g. created files from style dictionary or token-transformer.
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: build tokens
